<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Testing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="mailSettings">
      <section name="default" type="System.Net.Configuration.SmtpSection" />
      <section name="noReply" type="System.Net.Configuration.SmtpSection" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SQLConnectionString" connectionString="Data Source=192.168.110.246;Initial Catalog=Card11;User ID=sa;Password=Forte@1234;"
      providerName="System.Data.SqlClient" />
    <add name="DBS11SQLConnectionString" connectionString="Data Source=192.168.110.234;Initial Catalog=DocumentControlDB;User ID=sa;Password=ficlive@15;"
      providerName="System.Data.SqlClient" />
    <add name="Testing.Properties.Settings.DocumentControlDBConnectionString"
      connectionString="Data Source=FIPNHDBS11;Initial Catalog=DocumentControlDB;Persist Security Info=True;User ID=sa;Password=ficlive@15"
      providerName="System.Data.SqlClient" />
    <add name="Testing.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=192.168.105.79:1521/INFOPROD.forteinsurance.com;PASSWORD=sicl;PERSIST SECURITY INFO=True;USER ID=sicl;Connection Timeout = 600; Load Balancing=True;" />
  </connectionStrings>
  <mailSettings>
    <default deliveryMethod="Network">
      <network defaultCredentials="false" enableSsl="true" host="smtp.office365.com" port="587"/>
    </default>
    <noReply deliveryMethod="Network">
      <network defaultCredentials="false" enableSsl="true" host="smtp.office365.com" port="587" userName="no-reply@forteinsurance.com" password="8#5$y8&amp;vIkv9QG$ZH@"/>
    </noReply>
  </mailSettings>
  <!--<startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramewtork,Version=v4.5"/>
  </startup>-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <userSettings>
    <Testing.Properties.Settings>
      <setting name="scroll" serializeAs="String">
        <value>False</value>
      </setting>
    </Testing.Properties.Settings>
  </userSettings>
</configuration>
