<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="22.12.0" targetFramework="net45" />
  <package id="Aspose.PDF" version="22.12.0" targetFramework="net45" />
  <package id="Aspose.Words" version="22.12.0" targetFramework="net45" />
  <package id="ClosedXML" version="0.95.4" targetFramework="net45" />
  <package id="Cquential.Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net45" />
  <package id="Cquential.Microsoft.ReportViewer.DataVisualization" version="10.0.40219.1" targetFramework="net45" />
  <package id="Cquential.Microsoft.ReportViewer.ProcessingObjectModel" version="10.0.40219.1" targetFramework="net45" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.ReportAppServer" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.ReportAppServer.Shared" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net45" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net45" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net45" />
  <package id="MailKit" version="2.10.0" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
  <package id="Microsoft.SharePoint.Client" version="14.0.4762.1000" targetFramework="net45" />
  <package id="Microsoft.Sharepoint.Client.Runtime" version="15.0.4711.1000" targetFramework="net45" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.22315.12000" targetFramework="net45" />
  <package id="MimeKit" version="2.10.0" targetFramework="net45" />
  <package id="Oracle.ManagedDataAccess" version="19.11.0" targetFramework="net45" />
  <package id="Portable.BouncyCastle" version="1.8.8" targetFramework="net45" />
  <package id="S22.Imap" version="3.6.0.0" targetFramework="net45" />
  <package id="Syncfusion.Compression.Base" version="20.1.0.61" targetFramework="net45" />
  <package id="Syncfusion.Licensing" version="20.1.0.61" targetFramework="net45" />
  <package id="Syncfusion.Pdf.WinForms" version="20.1.0.61" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net45" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net45" />
</packages>